form {
    width: 50%;
    padding: 10px;
}

.label-container {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    margin: 1.5rem 0;
    gap: 2rem;
}


label {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100px;
}

input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.75rem;
    background-color: #F0FFFF;
    color: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    max-width: 200px;
    min-width:100px;
}

button:hover {
    background-color: #FFEBCD;
}